body {
    padding: 0;
    margin: 0;
    overflow: hidden
}

.screen {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}

.noPadding {
    padding: 0!important;
}

#startScreen {
    background-image: url('/images/software.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    background-color: #4b5a6d;
}

#workscreen {
    position: absolute;
    height: 100%;
    width: 100%;
}

#mapEditor {
    background-color: rgba(85, 26, 221, 0.301);
    height: 100%;
    width: 60%;
}

#modelPreview {
    background-color: rgba(50, 50, 211, 0.397);
    position: absolute;
    width: 40%;
    height: 40%;

    top: 0;
    right: 0;
}

#instrumentTabs {
    position: absolute;
    width: 15%;
    height: 60%;

    top: 40%;
    right: 25%;
}

#assetGroups {
    position: absolute;
    width: 25%;
    height: 60%;

    top: 40%;
    right: 0;
}
