body {
    overflow: hidden
}

.screen {
    width: 100%;
    height: 100%;

    background-image: url('../images/software.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #4b5a6d;
}

#workscreen {
    height: 100%;
    width: 100%;
}

#mapEditor {
    background-color: rgba(85, 26, 221, 0.301);
    height: 100%;
    width: 60%;
}

#sidePanel {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    border-left: 1px solid #ddd;
    background: #fafafa;
}

#sidePanel .model-preview {
    position: absolute;
    width: 100%;
    height: 40%;
    border-bottom: 1px solid #ddd;
}

#sidePanel .instruments {
    position: absolute;
    width: 20%;
    height: 60%;
    top: 40%;
    border-right: 1px solid #ddd;
}

#sidePanel .asset-lists {
    position: absolute;
    width: 80%;
    height: 60%;
    top: 40%;
    right: 0;
}

#sidePanel .asset-lists .col {
    padding: 0;
    height: 100%;
    overflow: auto;
}

#sidePanel h6 {
    font-size: 1rem;
    margin: 10px 6px;
}

#sidePanel .collection {
    border-width: 0;
}

#sidePanel .collection .collection-item {
    padding: 6px 12px;
}
