.layers .collection li {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
}

.layers .collection li:last-child {
    border: none;
}

.layers .collection a.collection-item {
    display: block;
    margin-left: 40px;
}

.layers .collection .eye {
    position: absolute;
    top: 6px;
    left: 4px;
    line-height: 0;
    padding: 1px;
    background: #fafafa;
    border: 1px solid #ddd;
    color: #aaa;
    border-radius: 2px;
}

.layers .collection .eye:hover {
    border-color: #aaa;
    background-color: #eef;
}

.layers .collection .eye.active {
    border-color: #999;
    background: #dde;
    box-shadow: inset 1px 1px 0 0 #889;
    color: #555;
}

.layers .collection .eye.active:hover {
    border-color: #aaa;
    background-color: #fafafa;
}
